body{
  color:white;
  padding:0px;
  margin:0px;
  font-family: Helvetica;
}

html, body, .container {
  height:100%;
  background-color:black;
}

canvas{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border:1px solid white;
  display:block;
}

.container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

#INFO{
  width:200px;
  padding:15px;
  font-size:0.9em;
}

#INFO a {
  color: white;
}
/* GUI STYLING */

#GUI{
  /* position:absolute; */
  /* top:0px; */
  /* left:0px; */
  padding:15px;
  width:110px;
  text-align: center;
  /* background-color: rgba(255,0,0,0.2); */
}

#GUI div {
  margin-bottom:5px;
}

#GUI select {
  width:90%;
  margin:5px;
}

#GUI button {
  width:90%;
  margin:5px;
}

#BRUSH {
  border:1px solid white;
}

.guislider {
  width:100%;
}

.guigroup {
  background-color: black;
  padding:5px;
}

#canvasThumb {
  height:110px;
  width:110px;
  background-color:black;
  display:flex;
  align-items: center;
  justify-content: center;
}

#APP {
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

#APP canvas {
  transition: all 500ms ease;
}
